@font-face {
    font-family: FFHekaya;
    src: url('fonts/FFHekaya-Light.ttf');
}

@font-face {
    font-family: AL-Fares;
    src: url('fonts/AL-Fares.ttf');
}

@font-face {
    font-family: Cubano;
    font-weight: 500;
    src: url('fonts/cubano.ttf');
}

div.cs-skin-boxes {
    background: transparent;
    font-size: 0.65em;
    font-weight: 700;
    max-width: 300px;
    z-index: 2000;
    color: #fff;
}

@media screen and (max-width: 30em) {
    div.cs-skin-boxes {
        font-size: 1em;
    }
}

.cs-skin-boxes > span {
    border: 3px solid #292c30;
    border-radius: 5px;
    width: 150px;
    height: 140px;
    font-size: 0.5em;
    padding: 0 0 0 10px;
    background: #555b64;
}

div.cs-skin-boxes:focus > span {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.cs-skin-boxes > span::before {
    content: '';
    display: block;
    padding-top: 110px;
    margin-left: -10px;
    box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30;
}

.cs-skin-boxes > span::after, .cs-skin-boxes.cs-active > span::after {
    top: auto;
    -webkit-transform: none;
    transform: none;
}

.cs-skin-boxes .cs-options {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background: #3b3f45;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cs-skin-boxes .cs-options li {
    width: 20%;
    height: 25%;
    float: left;
    position: relative;
    cursor: pointer;
    border-radius: 14px;
    overflow: hidden;
    opacity: 0;
    color: rgba(255, 255, 255, 0.6);
    border: 10px solid transparent;
    background-clip: padding-box;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    box-shadow: inset 0 -6em 0 -2em #282b30, inset 0 -1px 1px #000;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
    .cs-skin-boxes .cs-options li {
        box-shadow: none;
        border-width: 3px;
        border-radius: 8px;
    }
}

.cs-skin-boxes.cs-active .cs-options li {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
    -webkit-transition-delay: 0.01s;
    transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
    -webkit-transition-delay: 0.02s;
    transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
    -webkit-transition-delay: 0.03s;
    transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
    -webkit-transition-delay: 0.11s;
    transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
    -webkit-transition-delay: 0.13s;
    transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
    -webkit-transition-delay: 0.17s;
    transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
    -webkit-transition-delay: 0.19s;
    transition-delay: 0.19s;
}

.cs-skin-boxes .cs-options li.cs-selected::after {
    content: '\2714';
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) translate3d(0, -1em, 0);
    transform: translate3d(-50%, -50%, 0) translate3d(0, -1em, 0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
    content: '';
}

@media screen and (max-width: 30em) {
    .cs-skin-boxes .cs-options li.cs-selected::after {
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.cs-skin-boxes .cs-options li.color-588c75 {
    background-color: #588c75;
}

.cs-skin-boxes .cs-options li.color-b0c47f {
    background-color: #b0c47f;
}

.cs-skin-boxes .cs-options li.color-f3e395 {
    background-color: #f3e395;
}

.cs-skin-boxes .cs-options li.color-f3ae73 {
    background-color: #f3ae73;
}

.cs-skin-boxes .cs-options li.color-da645a {
    background-color: #da645a;
}

.cs-skin-boxes .cs-options li.color-79a38f {
    background-color: #79a38f;
}

.cs-skin-boxes .cs-options li.color-c1d099 {
    background-color: #c1d099;
}

.cs-skin-boxes .cs-options li.color-f5eaaa {
    background-color: #f5eaaa;
}

.cs-skin-boxes .cs-options li.color-f5be8f {
    background-color: #f5be8f;
}

.cs-skin-boxes .cs-options li.color-e1837b {
    background-color: #e1837b;
}

.cs-skin-boxes .cs-options li.color-9bbaab {
    background-color: #9bbaab;
}

.cs-skin-boxes .cs-options li.color-d1dcb2 {
    background-color: #d1dcb2;
}

.cs-skin-boxes .cs-options li.color-f9eec0 {
    background-color: #f9eec0;
}

.cs-skin-boxes .cs-options li.color-f7cda9 {
    background-color: #f7cda9;
}

.cs-skin-boxes .cs-options li.color-e8a19b {
    background-color: #e8a19b;
}

.cs-skin-boxes .cs-options li.color-bdd1c8 {
    background-color: #bdd1c8;
}

.cs-skin-boxes .cs-options li.color-e1e7cd {
    background-color: #e1e7cd;
}

.cs-skin-boxes .cs-options li.color-faf4d4 {
    background-color: #faf4d4;
}

.cs-skin-boxes .cs-options li.color-fbdfc9 {
    background-color: #fbdfc9;
}

.cs-skin-boxes .cs-options li.color-f1c1bd {
    background-color: #f1c1bd;
}

.cs-skin-boxes .cs-options span {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
    .cs-skin-boxes .cs-options span {
        display: none;
    }
}

.cs-skin-boxes .cs-options li span:hover, .cs-skin-boxes li.cs-focus span, .cs-skin-boxes li.cs-selected span {
    color: #fff;
}


/* FORM */

.section.one .fs-fields input {
    border-bottom: 2px solid white;
}

.section.one .fs-fields input:focus {
    background-color: #f8123d;
}

.section.one .fs-fields [required] {
    background-image: url(images/abacusstar.svg);
}

.fs-fields input:focus {
    background-color: white;
    /* Fixes chrome bug with placeholder */
}

.fs-form-overview .fs-fields input:focus {
    background-color: white;
    /* Fixes chrome bug with placeholder */
}


/* placeholder */

.section.one .fs-fields input::-webkit-input-placeholder, .section.one .fs-fields textarea::-webkit-input-placeholder {
    color: white;
}

.section.one .fs-fields input:-moz-placeholder, .section.one .fs-fields textarea:-moz-placeholder {
    color: white;
}

.section.one .fs-fields input::-moz-placeholder, .section.one .fs-fields textarea::-moz-placeholder {
    color: white;
}

.section.one .fs-fields input:-ms-input-placeholder, .section.one .fs-fields textarea:-ms-input-placeholder {
    color: white;
}


/* Hide placeholder when focused in Webkit browsers */

.section.one .fs-fields input:focus::-webkit-input-placeholder {
    color: white;
}

.section.one button.fs-continue {
    border: 3px solid white;
    color: white;
}

.section.one .fs-numbers {
    color: white;
}

.section.one input {
    background-color: #f8123d;
    border-radius: 10px;
}

.fs-current {
    top: 17vh;
}

.fs-form-overview label {
    display: none;
}

.fs-form-overview input.input-overview {
    color: white;
}


/* SECTION ZERO */

.desc1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15vh;
    font-weight: 800;
    font-size: 2.5rem;
}

.desc1 p:nth-child(even) {
    text-transform: uppercase;
}

.desc1 p:nth-child(2) {
    text-decoration: underline;
}

.tickets {
    height: 114px;
    background-image: url(images/tickets.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    position: absolute;
    top: 50vh;
    width: 100%;
}

.desc2 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 68vh;
    font-weight: 800;
    font-size: 2.1rem;
    text-transform: uppercase;
    direction: rtl;
    color: #0055a0;
}

.desc2 p:nth-child(1) {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.desc2 p:nth-child(2), .desc2 p:nth-child(3) {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}


/* SECTION TWO */

.bottle {
    background-image: url(images/dabouza.png);
    width: 100%;
    height: 408px;
    margin: auto;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 20vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.shaky {
    -webkit-animation: danupMove 1s;
    animation: danupMove 1s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes danupMove {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    17% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    33% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    67% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    83% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes danupMove {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    17% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    33% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    67% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    83% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.b1 {
    -webkit-animation: bottleMove 1.66s;
    animation: bottleMove 1.66s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes bottleMove {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    20% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    60% {
        -webkit-transform: translateY(0%) rotate(0deg);
        transform: translateY(0%) rotate(0deg);
    }
    70% {
        -webkit-transform: translateY(-15%) rotate(0deg);
        transform: translateY(-15%) rotate(0deg);
    }
    80% {
        -webkit-transform: translateY(0%) rotate(0deg);
        transform: translateY(0%) rotate(0deg);
    }
    90% {
        -webkit-transform: translateY(15%) rotate(0deg);
        transform: translateY(15%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(0%) rotate(0deg);
        transform: translateY(0%) rotate(0deg);
    }
}

@keyframes bottleMove {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    20% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    60% {
        -webkit-transform: translateY(0%) rotate(0deg);
        transform: translateY(0%) rotate(0deg);
    }
    70% {
        -webkit-transform: translateY(-15%) rotate(0deg);
        transform: translateY(-15%) rotate(0deg);
    }
    90% {
        -webkit-transform: translateY(15%) rotate(0deg);
        transform: translateY(15%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(0%) rotate(0deg);
        transform: translateY(0%) rotate(0deg);
    }
}

.b2 {
    -webkit-animation: bottle2Move 1s;
    animation: bottle2Move 1s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes bottle2Move {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    17% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    33% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    67% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    83% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bottle2Move {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    17% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    33% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    67% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    83% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


/* SECTION THREE */

.hud-container {
    width: 100%;
    position: absolute;
    top: 20vh;
    z-index: 40;
}

.hud {
    width: 60vw;
    height: 10vh;
    margin: auto;
    text-align: center;
    font-size: 4vh;
    font-weight: 800;
    text-transform: uppercase;
}

.score {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 2px solid white;
}

.timer {
    width: 50%;
    height: 100%;
    float: right;
}

.score p:nth-child(1) {
    height: 50%;
}

.score p:nth-child(2) {
    height: 50%;
}

.timer > span {
    height: 100%;
    width: 50%;
    float: left;
    background-image: url('images/montre.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.timer > p {
    height: 100%;
    width: 50%;
    float: right;
    text-align: left;
    line-height: 10vh;
    font-size: 5vh;
}

.timer > p > span {
    text-transform: lowercase;
    font-size: 3vh;
}

.bottle-container {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    max-height: 65vh;
}

.ingame-bottle {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 65vh;
    margin: auto;
    -webkit-animation: ingameMove .3s infinite;
    animation: ingameMove .3s infinite;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

@keyframes ingameMove {
    0% {
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    50% {
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        transform: translateY(5%);
    }
    100% {
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

@-webkit-keyframes ingameMove {
    0% {
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    50% {
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        transform: translateY(5%);
    }
    100% {
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

.speed {
    position: absolute;
    bottom: 3vh;
    right: 2vw;
    animation: hurryMove .5s infinite;
    -webkit-animation: hurryMove .5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes hurryMove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes hurryMove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fp-section:not(.active) {
    opacity: 0;
}

audio {
    display: none;
}

/* SECTION FOUR */

.three {
    display: none!important;
}

.score-final {
    width: 75%;
    text-align: center;
    position: absolute;
    top: 18vh;
    font-family: 'Cubano';
    font-weight: 500;
    font-size: 2.4rem;
    left: 13%;
    background-color: #f8123d;
    border-radius: 18px;
    text-transform: uppercase;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.desc5 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 37vh;
    font-weight: 800;
    font-size: 2.2rem;
    direction: rtl;
}

.desc6 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 51vh;
    font-weight: 800;
    font-size: 2.8rem;
    text-transform: uppercase;
    direction: rtl;
    color: #0055a0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.mananas {
    height: 132px;
    background-image: url(images/mananas.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    position: absolute;
    top: 72vh;
    width: 100%;
}

.desc5 p, .desc6 p {
    margin-top: -10px;
}

.desc5 p:nth-child(2) {
    line-height: 44px;
}

.desc5, .desc6, .desc1 p:nth-child(odd) {
    font-family: 'Al-Fares';
}

.desc5 p span, .desc1 p:nth-child(even) {
    font-family: 'Cubano';
    font-weight: 500;
}

.desc1 p:nth-child(4) {
    font-size: 7rem;
    margin-top: -3vh;
}

.desc1 p:nth-child(5) {
    color: #0055a0;
    font-size: 3rem;
    font-family: 'FFHekaya';
}

#mask {
    position: fixed;
    left:0; right:0; top:0; bottom:0;
    z-index: 20;
}