* {
  box-sizing: border-box;
}

body {
  background: #f8ad1a;
  transition: background-position .3s ease-in-out;
}
body.fp-viewing-0 {
  background-position: center 0%;
}
body.fp-viewing-1 {
  background-position: center 50%;
}
body.fp-viewing-2 {
  background-position: center 100%;
}

h1,
h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 58px;
  height: 64px;
  line-height: 3.5;
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
}

h1 {
  font-weight: 100;
  transition-delay: .3s;
}

h2 {
  font-weight: 300;
  transition-delay: .8s;
}

.section.active h1,
.section.active h2 {
  line-height: 1;
}
