 * {
     margin: 0px;
     padding: 0px;
 }
 
 body {
     background: #292d2e;
 }
 
 .hand {
     width: 190px;
     height: 258px;
     background: url(images/hand.png)no-repeat;
     position: absolute;
     top: 50px;
     left: 50%;
     margin-left: -95px;
     -webkit-animation: handMove infinite 2s;
 }
 
 .result {
     background: #393B3C;
     border: #2C2C2C 1px solid;
     box-shadow: inset #4D4F50 0 0 0 1px;
     border-radius: 10px;
     color: #fff;
     padding: 10px;
     width: 250px;
     position: absolute;
     top: 300px;
     left: 50%;
     margin-left: -136px;
     opacity: 0;
     -webkit-transition: all 1s;
     transition: all 1s;
 }
 
 .result .pic {
     float: left;
     background: #fff;
 }
 
 .result .pic img {
     width: 70vw;
     padding: 1px;
 }
 
 .result .con {
     overflow: hidden;
     zoom: 1;
     padding-left: 10px;
     line-height: 24px;
 }
 
 .result-show {
     opacity: 1;
     margin-top: 50px;
 }
 
 .loading {
     position: absolute;
     top: 240px;
     left: 50%;
     margin-left: -50px;
     width: 100px;
     height: 100px;
     background: url(images/spinner.png) no-repeat;
     background-size: 100px 100px;
     opacity: 0;
     -webkit-animation: loading infinite linear .5s;
 }
 
 .loading-show {
     opacity: 1;
 }
 
 .shake-up {
     width: 190px;
     height: 258px;
     background: url(images/shakeup.png)no-repeat;
     position: absolute;
     top: 300px;
     left: 50%;
     margin-left: -95px;
     -webkit-animation: shakeupMove 2s;
 }
 
 @-webkit-keyframes handMove {
     0% {
         -webkit-transform: rotate(0) translateY(0);
         -moz-transform: rotate(0) translateY(0);
         transform: rotate(0) translateY(0);
     }
     17% {
         -webkit-transform: rotate(30deg);
         transform: rotate(30deg);
     }
     33% {
         -webkit-transform: rotate(-30deg);
         transform: rotate(-30deg);
     }
     50% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     67% {
         -webkit-transform: translateY(-20%);
         transform: translateY(-20%);
     }
     83% {
         -webkit-transform: translateY(20%);
         transform: translateY(20%);
     }
     100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }
 }
 
 @-webkit-keyframes loading {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @-webkit-keyframes shakeupMove {
     0% {
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         transform: rotate(0deg);
         opacity: 1;
     }
     14% {
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
     }
     29% {
         -webkit-transform: rotate(-45deg);
         transform: rotate(-45deg);
     }
     43% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     57% {
         opacity: 0;
     }
     71% {
         opacity: 1;
     }
     86% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
  
.logo {
     margin: auto;
     display: block;
 }